.textarea-container{
    width: 62%;
    margin: 0 auto;
}
.resultContainer{
    overflow: auto;
    background: white;
    height: 340px;
    width: 100%;
    border-radius: 5px;
    color: #666;
    padding: 10px;
}
.error-text{
    background-color: #c0392b;
    color: white;
    font-weight: 600;
}
.resultMainContainer{
    display: none;
}
.main-message{
    background: white;
    font-weight: 600;
    border-radius: 5px;
}
.main-message .message-heading{
    font-size: 3rem;
    font-weight: 600;
}
.error-message{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}
.color-error{
    color: #c0392b;
}
.color-valid{
    color: #27ae60;
}
.active-resultMainContainer{
    display: initial;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

@media only screen and (max-width: 700px){
    .textarea-container{
        width: 100%;
    }
    .textarea-container .text-left h4{
        font-size: 1rem;
    }
    .main-message .message-heading{
        font-size: 2rem;
    }
    .error-message{
        font-size: 0.9rem;
    }
}